* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains Mono', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


body {
    background-repeat: no-repeat;
    max-width:1940px;
    padding-left:10px;
    padding-right:10px;
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}
.hero {
    height: 100vh;
    width: 100%;
    background: white;
    background-position: center;
    z-index: 4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: black;
    font-size: 28px;
}
span{
    color: rgb(99, 59, 80);
    z-index: 2;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
    z-index: 2;
}
nav ul li a{
    color: rgb(99, 59, 80);
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}
nav ul li a:hover{
    color: rgb(99, 59, 80);
    transition: .3s;
    z-index: 2;
}
button{
    border: none;
    background: transparent;
    padding: 12px 30px;
    border-radius: 30px;
    color: rgb(99, 59, 80);
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    z-index: 2;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
    z-index: 2;
}


/*linke links*/
  #div1 {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
    
}

.insideDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 10px;
    height: 10px;

}


#div3 {
    margin: 237px 0 0 10px;
    border-radius: 5px;
    background-color: rgb(99, 59, 80);
    color: black;

}


a { 
    color: rgb(99, 59, 80);
    text-decoration:none;
}
a:hover, a:focus {
    text-decoration:underline;
}

/* überschrift und text */
.überschrift {
    color: rgb(99, 59, 80);
    position: absolute;
    width: 500px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 160px;
    pointer-events: none;
}

.text {
    
        position: absolute;
        width: 500px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -120px 0 0 160px;
        pointer-events: none;
}

.meinbild {
    position: absolute;
        width: 500px;
        height: 500px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -150px 0 0 -300px;
}












/* obere und untere grafik*/
.custom-shape-divider-bottom-1679588610 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1679588610 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1679588610 .shape-fill {
    fill: rgb(23, 22, 22);
}


