* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains Mono', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body {
    background-repeat: no-repeat;
    background-color: #0F0F0F;
    max-width:1940px;
    padding-left:10px;
    padding-right:10px;
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}

h1 {
    color: rgb(99, 59, 80);
    z-index: 4;
}

a {
    color: rgb(58, 57, 57);
    z-index: 1;
}

.hero {
    height: 100vh;
    width: 100%;
    background: white;
    background-position: center;
    z-index: 4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: rgb(58, 57, 57);
    font-size: 28px;
}
span{
    color: rgb(99, 59, 80);
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: rgb(99, 59, 80);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(99, 59, 80);
    transition: .3s;
}
button{
    border: none;
    background: transparent;
    padding: 12px 30px;
    border-radius: 30px;
    color: rgb(58, 57, 57);
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(99, 59, 80);
}


.test_flex{
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden; 
border-right: .15em solid #1d002c; /* typwriter cursor */
white-space: nowrap; /* eine line */
margin: 0 auto; /* scoll effekt */
letter-spacing: .2em; 
animation: 
  typing .5s steps(40, end),
  blink-caret 0.75s step-end infinite;
    color: #32004b;
    pointer-events: none;
      
}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100px }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1d002c; }
  }

  #div1 {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
}

.insideDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 10px;
    height: 10px;

}


#div3 {
    margin: 237px 0 0 10px;
    border-radius: 5px;
    background-color: rgb(4, 0, 4);
    color: #1d002c;

}

.nav-link {
    z-index: 2;
    background-color: #0F0F0F;
    color: rgb(58, 57, 57);
}



/* untere grafik*/

.custom-shape-divider-bottom-1679588610 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1679588610 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1679588610 .shape-fill {
    fill: rgb(23, 22, 22);
}


.test_form {
    z-index: 5;
    top: 60%;
    bottom: 50%
}







  
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

    .formcarry-container {
      box-sizing: border-box;
      margin: 40px auto 0 auto;
      padding: 0;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;

      width: 400px;

      /* NORMAL */
      --fc-border-color: #ECEFF9;
      --fc-normal-text-color: #0E0B3D;
      --fc-normal-placeholder-color: #B3B8D0;

      /* PRIMARY COLOR | HSL FORMAT*/
      --fc-primary-color-hue: 220;
      --fc-error-color-hue: 356;
      --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
      --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

      /* HOVER */
      --fc-field-hover-bg-color: #F7F9FC;
      --fc-border-hover-color: #DDE0EE;
      --fc-field-hover-text-color: #B3B8D0;

      --fc-border-active-color: #1463FF;
    }

    .formcarry-container * {
      box-sizing: border-box;
    }

    .formcarry-container label {
      display: block;
      cursor: pointer;
    }

    .formcarry-container .formcarry-block:not(:first-child) {
      margin-top: 16px;
    }

    /*=============================================
    =            Fields           =
    =============================================*/
    
    .formcarry-container input,
    .formcarry-container textarea,
    .formcarry-container select {
      margin-top: 4px;
      width: 100%;
      height: 42px;
      border: 1px solid var(--fc-border-color);
      box-shadow: 0 1px 2px var(--fc-border-color);
      color: var(--fc-normal-text-color);
      border-radius: 10px;
      padding: 8px 12px;
      
      font-family: "Inter", sans-serif;
      font-size:14px;
      transition: 125ms background, 125ms color, 125ms box-shadow;
    }

    .formcarry-container textarea{
      min-height: 188px;
      max-width: 100%;
      padding-top: 12px;
    }

    .formcarry-container input::placeholder,
    .formcarry-container textarea::placeholder,
    .formcarry-container select::placeholder {
      color: var(--fc-normal-placeholder-color);
    }

    .formcarry-container input:hover,
    .formcarry-container textarea:hover,
    .formcarry-container select:hover {
      border-color: var(--fc-border-hover-color);
      background-color: var(--fc-field-hover-bg-color);
    }

    .formcarry-container input:hover::placeholder,
    .formcarry-container textarea:hover::placeholder,
    .formcarry-container select:hover::placeholder {
      color: var(--fc-field-hover-text-color);
    }

    .formcarry-container input:focus,
    .formcarry-container textarea:focus,
    .formcarry-container select:focus {
      background-color: #fff;
      border: 2px solid hsl(var(--fc-primary-hsl));
      box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
      outline: none;
    }

    .formcarry-container input:focus,
    .formcarry-container select:focus {
      padding: 8px 11px;
    }

    .formcarry-container textarea:focus {
      padding: 11px;
    }

    .formcarry-container select {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
      /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
      background-size: 24px 24px;
      background-position: 98%;
      background-repeat: no-repeat;
      appearance: none;
      -webkit-appearance: none;
    }

    .formcarry-container button {
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.02em;
      height: 40px;
      line-height: 24px;
      width: 100%;
      border: 0;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: hsla(var(--fc-primary-hsl));
      color: #fff;
      cursor: pointer;
      box-shadow: 0 0 0 0 transparent;
      
      transition: 125ms all;
    }
    
    .formcarry-container button:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
    }
    
    .formcarry-container button:focus {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
      border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
      box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
    }

    .formcarry-container button:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
    }

    .formcarry-container button:disabled {
      background-color: hsla(var(--fc-primary-hsl), 40%);
      cursor: not-allowed;
    }

    .formcarry-container input:focus:required:invalid,
    .formcarry-container input:focus:invalid, 
    .formcarry-container select:focus:required:invalid,
    .formcarry-container select:focus:invalid
    {
      color: hsl(var(--fc-error-hsl)); 
      border-color: hsl(var(--fc-error-hsl));
      box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
    }

    /*=====  End of Fields  ======*/
