* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains Mono', sans-serif;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body {
    background-repeat: no-repeat;
    background-color: #0F0F0F;
    max-width:1940px;
    padding-left:10px;
    padding-right:10px;
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}

h1 {
    color: rgb(99, 59, 80);
    z-index: 4;
}

a {
    color: rgb(58, 57, 57);
    z-index: 1;
}

.hero {
    height: 100vh;
    width: 100%;
    background: white;
    background-position: center;
    z-index: 4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: rgb(58, 57, 57);
    font-size: 28px;
}
span{
    color: rgb(99, 59, 80);
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: rgb(99, 59, 80);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(99, 59, 80);
    transition: .3s;
}
button{
    border: none;
    background: transparent;
    padding: 12px 30px;
    border-radius: 30px;
    color: rgb(58, 57, 57);
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: rgb(99, 59, 80);
}


.test_flex{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden; 
border-right: .15em solid #1d002c; /* typwriter cursor */
white-space: nowrap; /* eine line */
margin: 0 auto; /* scoll effekt */
letter-spacing: .2em; 
animation: 
  typing .5s steps(40, end),
  blink-caret 0.75s step-end infinite;
    color: #32004b;
      
}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100px }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1d002c; }
  }

  #div1 {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
}

.insideDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 10px;
    height: 10px;

}


#div3 {
    margin: 237px 0 0 10px;
    border-radius: 5px;
    background-color: rgb(4, 0, 4);
    color: #1d002c;

}

.nav-link {
    z-index: 2;
    background-color: #0F0F0F;
    color: rgb(58, 57, 57);
}



/* untere grafik*/

.custom-shape-divider-bottom-1679588610 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1679588610 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1679588610 .shape-fill {
    fill: rgb(23, 22, 22);
}


